# --- 1. 忽略文件夹（编译生成的中间目录） ---
**/DebugConfig/
**/RTE/
**/Listings/
**/Objects/
# 针对你截图里出现的 Camera 编译输出目录
**/MDK-ARM/Camera/

# --- 2. 忽略具体的 Keil 临时文件 & 配置 ---
*.bak
*.dep
*.uvgui.*
*.uvguix.*
*.Bytrain
*.cheche
*.uvoptx

# --- 3. 忽略编译产物（重点增加 .map 和 .lst） ---
*.o
*.d
*.crf
*.axf
*.elf
*.hex
*.bin
*.htm
*.lnp
*.map
*.lst

# --- 4. 忽略 VS Code 产生的个人配置和日志 ---
# 忽略本项目中任何位置出现的 .vscode 文件夹
**/.vscode/
*.log
*.lock

# --- 5. 其他 ---
.ai/
.mxproject